<% content_for :title, "Tower Defense | Home" %>
<div class="row">
	<div class="large-9 columns">
		<h1>Tower Defense Game</h1>
		<div id="gamescreen">
		</div>
	</div>

	<div class="large-3 columns">
		<h2 style="text-align:center">High Scores</h2>
		<table style="margin-bottom:0">
			<tr>
				<th style = "width:200px">Username</th>
				<th style = "width:100px">High Score</th>
			</tr>
		</table>
	</div>
</div>
<%= javascript_include_tag "phaser.min.js" %>

<script type="text/javascript">
	var game = new Phaser.Game(800, 600, Phaser.AUTO, 'gamescreen', { preload: preload, create: create });

function preload() {

    game.load.spritesheet('button', '<%= asset_path('button_sprite_sheet.png')%>', 193, 71);
    game.load.image('background','<%= asset_path('starfield.jpg')%>');

}

var button;
var background;

function create() {

    game.stage.backgroundColor = '#182d3b';

    background = game.add.tileSprite(0, 0, 800, 600, 'background');

    button = game.add.button(game.world.centerX - 95, 400, 'button', actionOnClick, this, 2, 1, 0);

}

function actionOnClick () {

    background.visible =! background.visible;

}
</script>